
.promise-loader {
  position: relative;
  .loader-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    &.show-backdrop {
      background-color: rgba(255, 255, 255, 0.5);
    }

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &.show {
      display: block;
    }
  }
}

@import '../bower_components/spinkit/scss/_variables';
@import '../bower_components/spinkit/scss/spinners/7-three-bounce';
